
<h1> Your Application: </h1><br>
<p><%= @app.name %></p>
<p><%= @app.street %> </p>
<p><%= @app.city %></p>
<p><%= @app.state %></p>
<p><%= @app.zip %></p>
<p><%= @app.message %></p>
<p><%= @app.status %></p><br>

<% @app.pets.each do |pet| %>
  <section id="pets-<%= pet.id %>">
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  </section>
<% end %><br><br>

<h2>Add a Pet to this Application</h2><br>
<%= form_with url: "/applications/#{@app.id}", method: :get, local: true do |f| %>
  <%= f.label :search, 'Search for a pet by name' %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% @pets&.each do |pet| %>
  <h3><%= pet.name %></h3>
  <%= button_to "Adopt this Pet", "/applications/#{@app.id}", method: :post, params: {pet_id: "#{pet.id}"}%>
<% end %>
